body{
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}


.picture-button{
  background-color: transparent;
  border: 3px solid white;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-right: 10px;
  
}

.picture-icon{
  height: 50px;
}

.js-result{
  font-size: 20px;
  font-weight: bold;
}

.reset-button{
  height:30px;
  width: 100px;
  margin-top: 20px;
}