.calculator-button{
  width:50px;
  height:50px;
  border-radius: 50%;
  color: white;
  font-family: bold;
  font-size: 20px;
  border: none;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.grey-button{
  background-color: rgba(128, 128, 128, 0.372);
}

.orange-button{
  background-color: rgba(255, 162, 0, 0.929);
}

body{
  background-color: black;
  color: white;
}

.clear-button{
  font-size: 15px;
}

.calculator-display{ 
  font-size: 40px;
}